h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  font-family:Ubuntu;
}

.form_wrapper {
    background: rgb(255, 255, 255);
    width: 500px;
    height: 600px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 10% auto 0;
    position: relative;
    z-index: 1;
}

.form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
    zoom: 150%;
    color:  #000000;
}

.form_wrapper .row {
    margin: 10px -15px;
}

.form_wrapper .col_half {
    width: 50%;
    
}

.form_wrapper .row > div {
    padding: 0 15px;
    box-sizing: border-box;
}

/*.formulario {
    height: 230px;
    border-left: 1px solid #ccc;
}*/

.btn-acessar {
    width: 100%;
}

.span-error {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    color:rgb(205, 9, 9);
    font-weight: 500;
}
.loading-sedding-email{
    background: white;
    float: left;
    opacity: 70%;
}
.span-sucess {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    color:rgb(6, 180, 50);
    font-weight: 500;
}
.loading-spinner {
    padding: 25px;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

@media screen and (max-width: 575px) {
    .div-logo{
        display: none;
    }
    .form_wrapper{
        width: 100%;
    }
    .form_wrapper .col_half{
        width: 80%;
    }
  }