<div class="form_wrapper-body" align="center">
    <div>
        <img width="100" [src]="soon">
    </div>
    <div class="title_container">
        <small>
            <h2>Cadastrar Jogador</h2>
        </small>
    </div>
    <form [formGroup]="formGroup">

        
        <mat-form-field class="pd-col-6">
            <div class="col-sm-6">
                <a>
                    <input matInput type="text"
                     required="true"
                      placeholder="Nome" 
                      formControlName="name">
                </a>
            </div>
        </mat-form-field>
        
        <mat-form-field class="pd-col-6">
            <div class="col-sm-6">
                <a>
                    <input
                     matInput type="text" 
                     required="true" 
                     placeholder="Apelido" 
                     formControlName="nickname">
                </a>
            </div>
        </mat-form-field>

        <mat-form-field class="pd-col-6">
            <div class="col-sm-6">
                <a>
                    <input
                     matInput placeholder="Nº telefone" 
                     type="text" required="true" 
                     formControlName="fone">
                </a>
            </div>
        </mat-form-field>
        <mat-form-field class="pd-col-6">
            
            <div class="col-sm-6">
                <a>
                    <input
                     matInput placeholder="Email" 
                     type="text" required="true"
                      formControlName="email">
                </a>
            </div>
        </mat-form-field>

        <div class="pd-col-6 col-sm-6">
            <app-custom-input-date 
             placeholder="Data nascimento"
            formControlName="birth">
            </app-custom-input-date>
        </div>

        <div class="pd-col-6 col-sm-6">
            <mat-form-field class="pd-componente">
                <mat-label>Posicao</mat-label>
                <mat-select formControlName="position">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let position of listPositions" [value]="position.value">
                        {{position.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>